<!DOCTYPE HTML>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="/style.css" />
<% include partials/navbar %>

<body>
  <section id="contact-us">
    <div class="jumbotron" style="background-color: transparent;">
      <div class="container text-center">
        <h1>Contact Us</h1>
        <p><strong>This is a young website!<br /> <br />
            So if you have problem, bugs or because you feel alone..
            <br /> <br />
            <a href="/auth/contactUs"> Contact Us <a>
          </strong></p>
      </div>
    </div>
  </section>
  <section>
    <div>
      <div class="text-center" style="margin: 120px 0px;">
        <h4>Contacts: </h4>
          <p>ludovica-emails@email.com</p>
          <p>antoine-email@email.com</p>
          <p>support_tristesse@email.com</p>
          <p>bug_s_bunny@email.com</p>
          <p>rienadire@email.com</p>
      </div>
  </section>
  <% include partials/footer %>
</body>
