<!DOCTYPE HTML>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="/style.css" />
<% include partials/navbar %>

<body>
  <section id="section-image-block">
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Your Personal Dashboard</h1>
        <p><strong>See everything that’s happening:<br /> <br />
            News, social media, favorite websites, apps and smart devices
            <br /> <br />
            all in one Dashboard!
          </strong></p>
      </div>
    </div>
  </section>
  <section id="section-explication-block">
    <div class="jumbotron">
      <div class="container text-center">
        <h1> Take control of your digital life </h1>
        <p><strong>Customize your Dashboard to monitor the things you care about online.<br />
            Follow your social networks, be alerted to breaking news, or read articles on the topics that interest you.
            <br />
            View your calendar, to do list, emails and apps in one place. <br />Connect your smart devices to
            automatically control
            the Internet of Things at your command.
          </strong></p>
      </div>
    </div>
    <img class="explication-block" src="/dashboard-exemple.png" alt="dashboard exemple" />
  </section>
  <section id="section-colored-block">
    <div class="jumbotron pink-container">
      <div class="container colored-container">
        <div class="colored-text">
          <h2> Read & Automate </h2>
          <p>Read and monitor everything from your Dashboard. <br />
            Put apps and devices to work for you by automating custom actions: <br />
            simply select the Trigger(s) and Action(s) you want to take place, <br />
            and your AnthLu Potion makes it happen, just like magic. <br />
            Control your smart home, share articles, automatically reply to tweets, and much more.</p>
        </div>
        <img class="colored-block" src="/Web-Design.png" alt="web design" />
      </div>
    </div>
  </section>
  <section id="section-colored-block">
    <div class="jumbotron blue-container">
      <div class="container colored-container">
        <div class="colored-text">
          <h2> How they use AnthLu Dashboards </h2>
          <p>From consumers to business executives, <br />
            millions of people use AnthLu Dashboards for a wide variety of use cases. <br />
            Each Dashboard is fully customizable to focus on what matters to you or your business. <br />
            Learn how some of our customers use their Dashboards.</p>
        </div>
        <img class="colored-block" src="/analiz-dashboard.png" alt="web design" />
      </div>
    </div>
  </section>
  <% include partials/footer %>
</body>

</html>
