<!DOCTYPE HTML>
<html>
<link rel="stylesheet" type="text/css" href="/style.css" />
<% include partials/navbar %>
<header class="welcame-page">
  <h1> OH HEY THERE! </h1>
  <h2>Welcome to your new favourite website</h2>
  <h2>Sign up, or login, and enjoy!</h2>
</header>
<div class="robot-img">
  <img src="/robot-welcome.png" alt="icon" />
</div>
<div class="login-container">
  <div class="google-btn">
    <img class="googleplus" src="/Logo_Google_Plus.png" alt="icon" />
    <a href="/auth/google" class="button"> Google+ </a>
  </div>
  <br />
  <div class="office365-btn">
    <img class="outlook-logo" src="/outlook-logo.jpg" alt="icon" />
    <a href="/auth/outlook"> office365 </a>
  </div>
</div>
<% include partials/footer %>

</html>
